*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

.column{
  width: 20px;
  height: 100%;
  background-color: black;
  flex:1;
}

#columns{
  height: 100%;
}


.board{
  width: 100%;
  height: 100%;
}
