    * {
      margin: 0;
      padding: 0;
      outline: none;
    }

    body,
    html {
      height: 100%;
      padding: 0;
      font-family: arial;
    }

    input, button, #result, #reader, select{
      border-style: solid;
      border-width: 2px;
      border-color: #000;
      border-radius: 3px;
      padding: 5px;
    }
input[type=file]{
padding:0px;
border-radius:5px;
}
    a {
      color: blue;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    select{
      margin-bottom:10px;
    }

    .input {
      outline: none;
      border-width: 2px;
      padding: 5px;
    }

    .container {
      padding: 1px;
    }

    .top-nav {
      margin: -1px;
      display: block;
      background: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(98, 229, 255, 1) 80%);
      padding: 5px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      border-bottom-color: #ccc;
    }

    .top-nav * {
      display: inline;
    }

    .content {
      padding: 15px;
    }

    .tile {
      padding: 5px;
    }

.panel{
margin:5px;
}

   ul li {
      list-style: none;
    }

    .credits {
      font-weight: 700;
    }

    .divider {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .camo{
      color:black;
      text-decoration:none;
      font-weight:inherit;
    }

    .camo:hover{
      text-decoration:none;
    }

    #reader__dashboard_section_swaplink {
      margin-top: 10px;
      display: inline-block;
    }

    #reader {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    #result {
      font-family: courier;
      padding: 20px;
      display: inline-block;
      margin-top: 10px;
    }
