
.achievement {
  padding: 5px;
  width: 220px;
  transition: background-color 1s;
  margin: 5px;
  display: table;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  text-align: center;
  background-color: #ccc;
  margin-top:10px;
}

.achievement * {
  color: black;
}

.achievement h4 {
  border-bottom-style: inset;
  border-bottom-color: black;
  border-bottom-width: 2px;
  margin: 3px;
}

.achievement p {
  font-weight: 700;
}
