* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: arial;
  max-width: 100%;
}

.container{
	padding-left:40px;
}

.title{
  margin-top:10px;
	color:#1e1e1e;
}

.heading{
  margin-top:10px;
  margin-bottom:10px;
  color:#444444;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

p{
	color:#292929;
}
