* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: arial;
  max-width: 100%;
}

h1{
  margin-top:10px;
	color:#444444;
}

h3{
  margin-top:10px;
  color:#1e1e1e;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

p{
	color:#292929;
}
