nav {
  display: table;
  padding: 10px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(0,212,255,1) 100%);
  text-align: center;
  line-height: 40px;
  margin-bottom:20px;
}

nav ul li {
  padding-left: 10px;
  list-style: none;
  display: inline-block;
  margin: auto;
}

nav ul li:first-of-type {
	margin-left: -10px;
}

nav ul li a {
  font-weight: 700;
  color: white;
}

nav ul li h3 a{
	color:white;
	text-decoration:none;
}