<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#4b48f7">
  <link rel="stylesheet" href="../assets/css/all.css">
  <link rel="stylesheet" href="../assets/css/menu.css">
  <title>Templates - Hman124</title>
</head>
<body>
    <div class="top-nav">
      <ul class="top-nav-ul">
        <li>
          <h3>Hman124</h3>
        </li>
        <li>&bull;</li>
        <li><a href="javascript:void(0);">Projects</a></li>
        <li>&bull;</li>
        <li><a href="javascript:void(0);">Random Stuff</a></li>
      </ul>
    </div>
    <div id="popup" class="popup">
    </div>
    <div class="container">
    <h1 class="title">Templates</h1>
    <h3 class="heading">These are my webpage templates that I made from scratch. They give you a very easy start to making a big website. You can use them however you want, just please do not sell them or pass them off as your own :)</h3>
<hr>
<h3 class="heading">What I have so far:</h3>
<ul>
  <li>
    Article
<ul>
  <li><a href="article-template/">View</a></li>
  <li><a href="article-template/article-template-external.zip" download>Download .zip - External CSS and JavaScript</a></li>
    <li><a href="article-template/article-template-internal.zip" download>Download .zip - Internal CSS and JavaScript</a></li>
</ul>
  </li>
</ul>
</div>

  <!-- Main Menu Script -->
  <script src="../assets/js/master.js"></script>
<!-- Achievements -->
<script src="../assets/js/achievements.js"></script>
</body>
</html>
