* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  height: 100%;
}

body {
  font-family: arial;
}

input, textarea, button, select, .view-content {
  border-style: solid;
  border-color: #000;
  border-radius: 3px;
  border-width: 2px;
  padding: 5px;
}

.view-item {
  display: block;
}

.view-content {
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  word-break: break-all;
}

.divider {
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 2px;
  padding-bottom: 20px;
  margin-bottom: 20px
}

.center {
  text-align: center;
}

.container {
  padding: 20px;
}

.dialogs {
  display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}