<!doctype html>
<html lang="en">
<head>
  <title>Article Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="master.css">
</head>
<body>
<div class="header top-image">
  <video id="background-video" src="background-video.mp4" muted autoplay loop></video>
</div>
  <div class="header fallback">
</div>
<div class="header title">
  <div class="center">
  </div>
<h1>Lorem Ipsum</h1>
</div>
<div class="contents">
<h1 id="title">Lorem Ipsum</h1>
<h3 id="author">Lorem Ipsum</h3>
<h4 id="time">XX Minute Read</h4>
<h2 class="heading">Heading 1</h3>
<p>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum eros nunc, in tempus est condimentum quis. Nunc egestas dolor est. Sed fringilla aliquam posuere. Donec vulputate lacinia gravida. Quisque tristique vestibulum odio vel condimentum. Quisque et ex vitae nibh bibendum tincidunt ultrices ac eros. In non ipsum at nisi efficitur vestibulum. Integer accumsan urna nec commodo volutpat. Morbi pellentesque ultrices magna, non euismod mauris. Sed vel vulputate risus. Praesent posuere lacus in pulvinar condimentum.

  Nulla cursus, ante at consectetur pellentesque, sem quam placerat massa, quis porta metus sem at justo. Duis erat massa, pulvinar tristique ullamcorper nec, imperdiet et purus. Pellentesque eget mauris sed leo hendrerit sollicitudin. Cras arcu turpis, iaculis eu mollis ac, laoreet vel nisl. Cras enim velit, euismod sed tellus at, aliquet pellentesque lacus. Nunc consequat quis lectus sed malesuada. In vestibulum sem vel blandit vulputate.

  Nullam blandit metus a lectus imperdiet, ac iaculis ipsum luctus. Sed tincidunt sollicitudin lacus, ut finibus velit sagittis ac. Vivamus congue sollicitudin mauris, ac blandit orci faucibus at. Donec semper nec purus sed laoreet. Nulla imperdiet nisl lacinia, mattis felis ut, imperdiet sem. Sed ut tellus id augue ullamcorper faucibus in dictum ante. Nullam bibendum finibus ipsum, at elementum risus finibus non. Fusce dictum augue nec risus dapibus viverra. Nunc ut cursus metus. Pellentesque sit amet imperdiet diam, non pharetra dolor. Aenean velit elit, varius eu eros a, gravida condimentum mauris. Sed ut velit congue, facilisis odio sit amet, vestibulum ante. Duis fermentum magna quis purus molestie pulvinar sed feugiat dui.

  Cras et ex ac urna euismod rhoncus. In placerat bibendum diam non tempor. Morbi posuere gravida semper. Integer eget neque egestas, auctor neque quis, laoreet est. Donec purus orci, venenatis tincidunt tellus sed, sodales pulvinar sem. Sed elit enim, mollis vitae enim eu, pretium pellentesque risus. Donec volutpat quam vitae ex hendrerit, et gravida nisi tincidunt. Vestibulum hendrerit enim pellentesque massa ultricies, non consequat risus molestie. Maecenas id efficitur orci. Integer vitae iaculis ipsum. Nam id luctus velit. Fusce ipsum metus, interdum vitae turpis tempor, lobortis ultricies mauris. Cras nec elit orci. Quisque porttitor tempus finibus.

  Sed faucibus ut massa efficitur mattis. Curabitur dui est, interdum et tortor sed, tincidunt sagittis justo. Nunc volutpat id nulla eget fermentum. Integer ac hendrerit turpis. Etiam et nibh euismod, imperdiet erat eget, lacinia purus. Vestibulum ligula metus, mattis ac massa eu, bibendum vehicula erat. Cras interdum id libero quis consectetur. Suspendisse et ex et velit lobortis egestas quis vitae libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam at enim cursus, suscipit erat nec, sodales ante. Aenean accumsan eros tellus, eu faucibus libero tincidunt id. Nunc porttitor tortor malesuada aliquam ullamcorper.
</p>
<h2 class="heading">Heading 2</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum eros nunc, in tempus est condimentum quis. Nunc egestas dolor est. Sed fringilla aliquam posuere. Donec vulputate lacinia gravida. Quisque tristique vestibulum odio vel condimentum. Quisque et ex vitae nibh bibendum tincidunt ultrices ac eros. In non ipsum at nisi efficitur vestibulum. Integer accumsan urna nec commodo volutpat. Morbi pellentesque ultrices magna, non euismod mauris. Sed vel vulputate risus. Praesent posuere lacus in pulvinar condimentum.

  Nulla cursus, ante at consectetur pellentesque, sem quam placerat massa, quis porta metus sem at justo. Duis erat massa, pulvinar tristique ullamcorper nec, imperdiet et purus. Pellentesque eget mauris sed leo hendrerit sollicitudin. Cras arcu turpis, iaculis eu mollis ac, laoreet vel nisl. Cras enim velit, euismod sed tellus at, aliquet pellentesque lacus. Nunc consequat quis lectus sed malesuada. In vestibulum sem vel blandit vulputate.

  Nullam blandit metus a lectus imperdiet, ac iaculis ipsum luctus. Sed tincidunt sollicitudin lacus, ut finibus velit sagittis ac. Vivamus congue sollicitudin mauris, ac blandit orci faucibus at. Donec semper nec purus sed laoreet. Nulla imperdiet nisl lacinia, mattis felis ut, imperdiet sem. Sed ut tellus id augue ullamcorper faucibus in dictum ante. Nullam bibendum finibus ipsum, at elementum risus finibus non. Fusce dictum augue nec risus dapibus viverra. Nunc ut cursus metus. Pellentesque sit amet imperdiet diam, non pharetra dolor. Aenean velit elit, varius eu eros a, gravida condimentum mauris. Sed ut velit congue, facilisis odio sit amet, vestibulum ante. Duis fermentum magna quis purus molestie pulvinar sed feugiat dui.

  Cras et ex ac urna euismod rhoncus. In placerat bibendum diam non tempor. Morbi posuere gravida semper. Integer eget neque egestas, auctor neque quis, laoreet est. Donec purus orci, venenatis tincidunt tellus sed, sodales pulvinar sem. Sed elit enim, mollis vitae enim eu, pretium pellentesque risus. Donec volutpat quam vitae ex hendrerit, et gravida nisi tincidunt. Vestibulum hendrerit enim pellentesque massa ultricies, non consequat risus molestie. Maecenas id efficitur orci. Integer vitae iaculis ipsum. Nam id luctus velit. Fusce ipsum metus, interdum vitae turpis tempor, lobortis ultricies mauris. Cras nec elit orci. Quisque porttitor tempus finibus.

  Sed faucibus ut massa efficitur mattis. Curabitur dui est, interdum et tortor sed, tincidunt sagittis justo. Nunc volutpat id nulla eget fermentum. Integer ac hendrerit turpis. Etiam et nibh euismod, imperdiet erat eget, lacinia purus. Vestibulum ligula metus, mattis ac massa eu, bibendum vehicula erat. Cras interdum id libero quis consectetur. Suspendisse et ex et velit lobortis egestas quis vitae libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam at enim cursus, suscipit erat nec, sodales ante. Aenean accumsan eros tellus, eu faucibus libero tincidunt id. Nunc porttitor tortor malesuada aliquam ullamcorper.
</p>
<h2 class="heading">Heading 3</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum eros nunc, in tempus est condimentum quis. Nunc egestas dolor est. Sed fringilla aliquam posuere. Donec vulputate lacinia gravida. Quisque tristique vestibulum odio vel condimentum. Quisque et ex vitae nibh bibendum tincidunt ultrices ac eros. In non ipsum at nisi efficitur vestibulum. Integer accumsan urna nec commodo volutpat. Morbi pellentesque ultrices magna, non euismod mauris. Sed vel vulputate risus. Praesent posuere lacus in pulvinar condimentum.

  Nulla cursus, ante at consectetur pellentesque, sem quam placerat massa, quis porta metus sem at justo. Duis erat massa, pulvinar tristique ullamcorper nec, imperdiet et purus. Pellentesque eget mauris sed leo hendrerit sollicitudin. Cras arcu turpis, iaculis eu mollis ac, laoreet vel nisl. Cras enim velit, euismod sed tellus at, aliquet pellentesque lacus. Nunc consequat quis lectus sed malesuada. In vestibulum sem vel blandit vulputate.

  Nullam blandit metus a lectus imperdiet, ac iaculis ipsum luctus. Sed tincidunt sollicitudin lacus, ut finibus velit sagittis ac. Vivamus congue sollicitudin mauris, ac blandit orci faucibus at. Donec semper nec purus sed laoreet. Nulla imperdiet nisl lacinia, mattis felis ut, imperdiet sem. Sed ut tellus id augue ullamcorper faucibus in dictum ante. Nullam bibendum finibus ipsum, at elementum risus finibus non. Fusce dictum augue nec risus dapibus viverra. Nunc ut cursus metus. Pellentesque sit amet imperdiet diam, non pharetra dolor. Aenean velit elit, varius eu eros a, gravida condimentum mauris. Sed ut velit congue, facilisis odio sit amet, vestibulum ante. Duis fermentum magna quis purus molestie pulvinar sed feugiat dui.

  Cras et ex ac urna euismod rhoncus. In placerat bibendum diam non tempor. Morbi posuere gravida semper. Integer eget neque egestas, auctor neque quis, laoreet est. Donec purus orci, venenatis tincidunt tellus sed, sodales pulvinar sem. Sed elit enim, mollis vitae enim eu, pretium pellentesque risus. Donec volutpat quam vitae ex hendrerit, et gravida nisi tincidunt. Vestibulum hendrerit enim pellentesque massa ultricies, non consequat risus molestie. Maecenas id efficitur orci. Integer vitae iaculis ipsum. Nam id luctus velit. Fusce ipsum metus, interdum vitae turpis tempor, lobortis ultricies mauris. Cras nec elit orci. Quisque porttitor tempus finibus.

  Sed faucibus ut massa efficitur mattis. Curabitur dui est, interdum et tortor sed, tincidunt sagittis justo. Nunc volutpat id nulla eget fermentum. Integer ac hendrerit turpis. Etiam et nibh euismod, imperdiet erat eget, lacinia purus. Vestibulum ligula metus, mattis ac massa eu, bibendum vehicula erat. Cras interdum id libero quis consectetur. Suspendisse et ex et velit lobortis egestas quis vitae libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam at enim cursus, suscipit erat nec, sodales ante. Aenean accumsan eros tellus, eu faucibus libero tincidunt id. Nunc porttitor tortor malesuada aliquam ullamcorper.
</p>
</div>
<script src="master.js"></script>
</body>
</html>
